# FinMind API (免費註冊: https://finmindtrade.com/)
FINMIND_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoibWFya3dpbGwiLCJlbWFpbCI6Im1hcmt3aWxsMjAxNEBnbWFpbC5jb20iLCJ0b2tlbl92ZXJzaW9uIjowfQ.w8pdC2cDsNyCENM8aEMMBZmdEyZCD6_lamruTfvPoSs

# Telegram Bot (找 @BotFather 建立)
TELEGRAM_BOT_TOKEN=8735468679:AAHBPgqNehcitRy2paesSg7yd5xMm-In2d8
TELEGRAM_CHAT_ID=982752061
# Google Sheet
GOOGLE_SHEET_ID=markstock@markstock.iam.gserviceaccount.com

# Google Service Account JSON (整串壓成一行)
GOOGLE_CREDS_JSON={"type":"service_account","project_id":"...","private_key":"...","client_email":"..."}
